<table id="tasks-list">
  <tr>
    <th>
      Description
    </th>
    <th>
      Days left
    </th>
    <th>
      Mark Complete
    </th>
  </tr>
<% if !all_items.empty? %>
  <% all_items.each do |item| %>
    <tr class="tlist">
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= distance_of_time_in_words(item.created_at, Time.now - 7.days) %>
      </td>
      </td>
      <td>
        <%= link_to "", user_item_path(current_user.id, item.id), method: :delete, class: 'fa fa-check', remote: true %>
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= render partial: 'items/form' %>
      </td>
    </tr>
  </tfoot>
  </table>
<% else %>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= render partial: 'items/form', locals: {user: @user, item: @item } %>
      </td>
    </tr>
  </tfoot>
</table>
<%end%>
